---
import '../styles/reset.css'
import favicon from '../assets/favicon.ico'
import About from '../components/About.astro'
import Member from '../components/Member.astro'
import TopView from '../components/TopView.astro'
import Works from '../components/Works.astro'
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href={favicon} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Trinity Trio's Web site" />
    <title>Trinity Trio</title>
  </head>
  <body>
    <TopView />
    <Member />
    <About />
    <Works />
  </body>
</html>

<style is:global>
  body {
    margin: 0;
    padding: 0;
    background-color: #03635b;
  }
</style>
